<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deleteRecord()" *ngIf="isEditMode">
        <ion-icon slot="icon-only" name="trash">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input class="ion-text-end"
             #moduleNr
             label="Modulnr*"
             fill="solid"
             type="text"
             maxlength="10"
             [counter]="true"
             required>
  </ion-input>
  <ion-text color="danger" *ngIf="errors.get('moduleNr')">
    <p class="ion-text-end ion-no-margin ion-padding-end">
      {{errors.get('moduleNr')}}
    </p>
  </ion-text>
  <ion-item fill="solid">
    <ion-checkbox>Sommersemester</ion-checkbox>
  </ion-item>
  <ion-select fill="solid" label="Jahr" interface="popover">
    <ion-select-option *ngFor="let year of years"
                       [value]="year">{{year}}
    </ion-select-option>
  </ion-select>
  <ion-button class="ion-padding" expand="block" (click)="save()">
    Speichern
  </ion-button>


</ion-content>
