<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons slot="end" id="present-alert">
      <ion-button (click)="showStats()">
        <ion-icon slot="icon-only" name="stats-chart-outline"></ion-icon>
      </ion-button>
      <ion-alert
        trigger="present-alert"
        class="custom-alert"
        header="stats"
        [textContent]="textContent"
      ></ion-alert>
    </ion-buttons>
    <ion-button (click)="createRecord()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">record-list</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item *ngFor="let record of records" (click)="editRecord(record)">
    <ion-label>
      <h2>{{record.moduleName}}</h2>
      <p>{{record.moduleNr}}</p>
    </ion-label>
  </ion-item>
</ion-content>
