<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Leistungen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showStats()">
        <ion-icon slot="icon-only" name="stats-chart-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="createRecord()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">record-list</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item *ngFor="let record of records">
    <ion-label>
      <h2>{{record.moduleName}}</h2>
      <p>{{record.moduleNr}}</p>
    </ion-label>
  </ion-item>
</ion-content>
